### List

In [2]:
ls=[]
print(type(ls))

<class 'list'>

In [45]:
dtype=["naveen","abi",1,1.23]
print(dtype)

['naveen', 'abi', 1, 1.23]

In [46]:
dtype[0]

'naveen'

In [47]:
dtype[0:3]

['naveen', 'abi', 1]

In [48]:
dtype[0]="apple"
dtype

['apple', 'abi', 1, 1.23]

In [49]:
#list method 

dtype.append("naveenlast")

dtype.insert(1,"summa")
dtype

['apple', 'summa', 'abi', 1, 1.23, 'naveenlast']

In [50]:
dtype.pop()

'naveenlast'

In [51]:
dtype.index("summa")
# dtype

1

In [52]:
dtype.count("summa")

1

In [53]:
dtype

['apple', 'summa', 'abi', 1, 1.23]

In [54]:
dtype.pop()
dtype.pop()

1

In [55]:
dtype.sort()
dtype

['abi', 'apple', 'summa']

In [56]:
dtype.reverse()
dtype

['summa', 'apple', 'abi']

In [58]:
dtype.clear()
dtype

[]

In [64]:
##slicing the list

num=[1,2,3,4,5,6]

print(num[1:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::3])
print(num[::-1])
print(num[::-2])

[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[6]
[1, 3, 5]
[1, 4]
[6, 5, 4, 3, 2, 1]
[6, 4, 2]

In [65]:
### intering over list

for i in num:
    print(i)

1
2
3
4
5
6

In [66]:
for i,number in enumerate(num):
    print(i,number)

0 1
1 2
2 3
3 4
4 5
5 6

In [68]:
## List comprehension

lst=[]

for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
ls1=[1,2,3,4]
lt2=["a","b","c","d"]

new=[(i,j)for i in ls1 for j in lt2]
new

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (1, 'd'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (2, 'd'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c'),
 (3, 'd'),
 (4, 'a'),
 (4, 'b'),
 (4, 'c'),
 (4, 'd')]

In [ ]:
def temperature(temp,unit):

    if unit=="C":
        return temp*9/5+35
    elif unit=="F":
        return (temp-32)*5/9
    else:
        return None
    
prin