### Importing modules and packages in python

In python, modules and packages help to organize and reuse code.

In [3]:
import math 
math.sqrt(16)

4.0

In [7]:
from math import sqrt,pi
print(pi)
print(sqrt(16))

3.141592653589793
4.0

In [11]:
import numpy as np  ## np is alias (short form)
np.array([1,2,3,4],dtype=float)

array([1., 2., 3., 4.])

In [12]:
from math import *
print(sqrt(25))
print(pi)

5.0
3.141592653589793

In [5]:
## custom package
from package.fn import printName,printNo
printNo(1)
printName()

1
Naveen

In [2]:
from package import fn
fn.printName()
fn.printNo(1)

Naveen
1

In [6]:
from package.subpackage.sub_fn import Range
print(Range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
from package.subpackage import sub_fn
print(sub_fn.Range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Some StandardLibrary

In [16]:
### array

import array
arr=array.array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [19]:
### math
import math
print(math.sqrt(16))

4.0

In [20]:
### random
import random

print(random.randint(1,10))
print(random.choice(["a","b","c"]))

4
c

In [21]:
## os

import os
print(os.getcwd())

/home/navee/Udemy/machine_learning/python/2-modules

In [24]:
os.mkdir('/home/navee/Udemy/machine_learning/python/3-fileHandling')

In [25]:
## high level operation on files

import shutil
shutil.copyfile('source.txt','result.txt')

'result.txt'

In [5]:
## Data serialization
import json

dict={"name":"naveen","age":12}
print(dict)
print(type(dict))

## convert dict to json
json_str=json.dumps(dict)
print(json_str)
print(type(json_str))

## convert json to dict
parsed_data=json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{'name': 'naveen', 'age': 12}
<class 'dict'>
{"name": "naveen", "age": 12}
<class 'str'>
{'name': 'naveen', 'age': 12}
<class 'dict'>

In [7]:
## csv

import csv
with open('example.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(["name","age"])
    writer.writerow(["naveen",12])

print(writer)

<_csv.writer object at 0x7b48793d5060>

In [11]:
with open('example.csv',mode='r')as file:
    read=csv.reader(file)
    print(read) ## return object
    for row in read:
        print(row)

<_csv.reader object at 0x7b48789500b0>
['name', 'age']
['naveen', '12']

In [13]:
## datatime
# import datetime
from datetime import datetime,timedelta

now=datetime.now()
print(now)

yesterday=now-timedelta(days=1)
print(yesterday)

2024-09-02 15:07:38.113111
2024-09-01 15:07:38.113111

In [16]:
## time 
import time

print(time.time()) ## 1725269915.5847287
time.sleep(2)
print(time.time()) ##1725269917.5865555

# 1725269915.5847287 (-) 1725269917.5865555 = 2

1725270003.4031663
1725270005.4058547

In [24]:
## regular expersion
import re

patten=r'\d+'
text="there a  123 animal"

match=re.search(patten,text)
match.group()

'123'